<a href="https://colab.research.google.com/github/RadimJedlicka/experiments/blob/main/Cviceni_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<br>

# Základní operace, datové typy
V této části si zopakujeme systém definice proměnných, datové typy které budou tyto proměnné reprezentovat a základní operace s nimi.

**Úkol 1**: Jsou dány proměnné x=3, y=2. Proveď následující operace:

- součet x a 70
- součet x a y
- součin x a y
- x<sup>y</sup>
- x + 2y<sup>2</sup>
- x děleno y
- x děleno y, zaokrouhleno na nejmenší celé číslo

In [ ]:
#@title Řešení
x = 3
y = 2

print('součet x a 70 je', x + 70)
print('součet x a y je', x +y)
print('součin x a y je', x * y)
print('x na y je', x**y)
print('x + 2y(na druhou) je', x + 2*(y**2))
print('x děleno y je', x / y)
print('x děleno y, zaokrouhleno na nejmenší celé číslo je', x // y)

<br>

**Úkol 2**: Je dána proměnná x = 10. K této proměnné přičti y = 3 a výsledek ulož do proměnné x. Zkus použít pythonovský zkrácený syntax. Obdobně proveď operace násobení, dělení a umocnění.

In [ ]:
#@title Řešení
x = 10
y = 3

x += y
print(x)

<br>

**Úkol 3**: Jsou dány následující proměnné. Zjisti, o jaké datové typy se jedná jak u proměnných samotných, tak u součtu proměnných a, b. Pak najdi způsob, jak zkombinovat proměnné c, d. Jaký datový typ je mezera (" ") ?
- a = 5
- b = 2.4
- c = 'hello'
- d = '123'

In [ ]:
#@title Řešení
a = 5
print(type(a))

b = 2.4
print(type(b))

c = 'hello'
print(type(c))

d = '123'
print(type(d))

print(c + d)

print(type(' '))

<br>

**Úkol 4**: Jsou dány následující proměnné. Poskládej z nich smyslupnou větu do jednoho stringu.

- my_age = 32
- my_name = 'Petr'
- sentence_1 = 'My name is'
- sentence_2_start = 'I am'
- sentence_2_end = 'years old'

In [ ]:
#@title Řešení
my_age = 32
my_name = 'Petr'
sentence_1 = 'My name is'
sentence_2_start = 'I am'
sentence_2_end = 'years old'

print(sentence_1, my_name, sentence_2_start, my_age, sentence_2_end)

<br>

##Datové struktury
Při práci s daty a programování obecně bývá vhodné využití různých datových struktur. Takové struktury umožňují ukládat sekvence hodnot jako jeden celek a umožňují tak rychlejší vývoj a efektivní využití programovacího jazyka.

<br>

**Úkol 5**: Sestav list sestávající z těchto členů:

1, 3, "orange", "3.5", "car"

In [ ]:
#@title Řešení
list1 = [1, 3, 'orange', '3.5', 'car']

<br>

**Úkol 6**: Z předešlého listu postupně :

- vyber třetí člen
- vyber druhý člen od konce
- vyber první tři členy
- vynech z listu každý druhý člen
- změň třetí člen na blue
- vytvoř nový list l1 o stejných členech, ale seřazený pozpátku

In [ ]:
#@title Řešení
print(list1[2])
print(list1[-2])
print(list1[0:3])
print(list1[::2])

list1[2] = 'blue'
print(list1)

list2 = list1[::-1]
print(list2)

<br>

**Úkol 7**: Vytvoř tuple na základě listu l1

In [ ]:
#@title Řešení
list3 = tuple(list2)
print(list3)

<br>

**Úkol 8**: Definuj tuple o členech:
- "a", "b", 5, 5.23, -5

In [ ]:
#@title Řešení
tuple2 = ("a", "b", 5, 5.23, -5)
print(tuple2)

<br>

**Úkol 9**: Vyber poslední tři členy tuplu. Pak zkus změnit poslední člen tuplu na -4.

In [ ]:
#@title Řešení
print(tuple2[-3:])

# tuple nelze menit


<br>

**Úkol 10**: Vytvoř slovník (dictionary) d s klíči: first_name, last_name, age. K nim definuj hodnoty 'John', 'Doe', 30.

In [ ]:
#@title Řešení
d = {
     'first_name': 'John',
     'last_name': 'Doe',
     'age': 30
}

print(d)

<br>

**Úkol 11**: Ve slovníku změň příjmení na 'Snow'. Přidej další klíč 'stuff', jako hodnotu přiřaď libovolný list. Nakonec přidej do slovníku další klíč 'cousin', hodnota bude opět slovník. Tento vnořený slovník má klíč=hodnota páry: first_name='Marty', last_name='McFly'.

In [ ]:
#@title Řešení
d['last_name'] = 'Snow'
print(d)

d['stuff'] = [1, 2, 3]
print(d)

d['cousin'] = {'first_name': 'Marty', 'last_name': 'McFly'}
print(d)

<br>

**Úkol 12**: Zobraz věk osoby ze slovníku. Jak se jmenuje Johnův bratranec příjmením ? Načti tuto informaci ze slovníku.

In [ ]:
#@title Řešení
print(d['age'])
print(d['cousin']['last_name'])

<br>

##Funkce a datové struktury
Python obsahuje mnoho vestavěných funkcí, příslušejících konkrétním datovým strukturám. Tyto funkce umožňují kód zpřehlednit a značně urychlit řešení daných úkonů.

<br>

**Úkol 13**: Najdi délku, součet, největší a nejmenší číslo listu l = [101,45,8,1,5,48,65,1,20,12,35,14,75,65]

In [ ]:
#@title Řešení
l = [101,45,8,1,5,48,65,1,20,12,35,14,75,65]

print(len(l))
print(sum(l))
print(max(l))
print(min(l))

<br>

**Úkol 14**: Předešlé operace zkus aplikovat na slovník d = {"brand": "Ford","model": "Mustang","year": 1964}

In [ ]:
#@title Řešení
d = {"brand": "Ford","model": "Mustang","year": 1964}
print(len(d))
#print(sum(d))
print(max(d))
print(min(d))
x = (min(d))

<br><br>

# <center> **Cykly** </center>

<br>

**Úkol 1**: Je dán list l = ["apple", "banana", "cherry", "apple", "cherry", "orange", "mango"]. Pomocí cyklu vypiš každou jeho položku na nový řádek.

In [ ]:
#@title Řešení

l = ["apple", "banana", "cherry", "apple", "cherry", "orange", "mango"]

for _ in l:
    print(_)

<br>

**Úkol 2**: Ze stejného listu vypiš pro všechna slova postupně všechna jejich písmena (jeden řádek = jedno písmeno). Jednotlivá slova odděl prázdným řádkem.

In [ ]:
#@title Řešení
l = ["apple", "banana", "cherry", "apple", "cherry", "orange", "mango"]

for slovo in l:
    for pismeno in slovo:
        print(pismeno)
    print()

<br>

**Úkol 3**: Vytvoř nový list, jehož členy představují pouze první písmeno každého slova z předchozího listu.

In [ ]:
#@title Řešení
new_list = []

for slovo in l:
    new_list.append(slovo[:1])

print(new_list)

<br>

**Úkol 4**: Vygeneruj stejný list jako v předchozím úkolu, ale s pomocí 'list comprhension' syntaxe. Ověř, zda jsou listy vytvořené oběma způsoby totožné.

In [ ]:
#@title Řešení
new_list_comperhension = [fruit[0] for fruit in l]
print(new_list_comperhension)
print(new_list_comperhension == new_list)

<br>

**Úkol 5**: Vygeneruj list číslic od -4 po 25

In [ ]:
#@title Řešení
generated_list = list(range(-4, 26))
print(generated_list)

nebo 2. varianta:

In [ ]:
#@title Řešení { display-mode: "form" }
generated_list2 = [cislo for cislo in range(-4, 26)]
print(generated_list2)

<br>

**Úkol 6**: Vygeneruj stejný list jako z předchozího cvičení, ale v opačném pořadí.

In [ ]:
#@title Řešení
generated_list3 = list(range(-4, 26))
generated_list3 = generated_list3[::-1]
print(generated_list3)

nebo 2. varianta:

In [ ]:
#@title Řešení
l_range_reversed = [i for i in range(25,-5,-1)]
print(l_range_reversed)

<br>

**Úkol 7**: Sečti čísla z předchozího listu pomocí cyklu.

In [ ]:
#@title Řešení
generated_list3_soucet = 0

for ele in generated_list3:
    generated_list3_soucet += ele

print(generated_list3_soucet)

<br>

**Úkol 8**: Vytvoř dictionary, jehož klíče představují index (pozici) číslice z předešlého listu a hodnoty jsou odpovídající číslice z listu.

In [ ]:
#@title Řešení
dictionary = {}

for index, element in enumerate(generated_list3):
    dictionary[index] = element

print(dictionary)

ze zadani:

In [ ]:
#@title Řešení
dict_a = {index:number for index, number in enumerate(l_range_reversed)}
# 
# nebo 
#
dict_b = {}
for index, number in enumerate(l_range_reversed):
    dict_b[index] = number
#   
# nebo bez funkce enumerate
#
dict_c = {}
for i in range(len(l_range_reversed)):
    dict_c[i] =l_range_reversed[i]

<br>

**Úkol 9**: Jsou dány následující listy. Ke každém Star Wars charakteru z prvního listu přísluší číslo epizody, ve kterém se poprvé vyskytl. Tato čísla se nachází ve druhém listu. Na každý nový řádek vypiš string ve stylu:

- 'Anakin Skywalker - Episode 1'

In [ ]:
#@title Řešení
l_names = ['Darth Vader', 'Obi-Wan Kenobi', 'Mace Windu', 'R2D2', 'Luke Skywalker', 'Kylo Ren', 'Count Dooku']
l_episodes = [3,1,1,1,4,7,2]

for character, episode in zip(l_names,l_episodes):
    print(f'{character} - Episode {episode}')

<br><br>

#<center>**Podmínky**

<br>

##Podmínky

**Úkol 1**: Je dán list l = ['car', 'apple', 'cat', 'monkey', 'honey', 'cucumber', 'glove', 'shirt', 'color']. Vyber z něj jen slova, která začínají písmenem c. Vlož je do nového listu.

In [ ]:
#@title Řešení
l = ['car', 'apple', 'cat', 'monkey', 'honey', 'cucumber', 'glove', 'shirt', 'color']
l_new = []

for item in l:
    if item.startswith('c') is True:
        l_new.append(item)
print(l_new)

<br>

**Úkol 2**: Z předchozího listu vyber jen slova delší než tři písmena a kratší nebo rovno než pět písmen. Pokud je slovo kratší nebo rovno 3 písmenům, bude místo něj string 'TOO SHORT', Pokud je slovo delší než pět, bude místo něj string 'TOO LONG'.

In [ ]:
#@title Řešení
l_new2 = []
for item in l:
    if len(item) <= 3:
        l_new2.append('TOO SHORT')
    elif len(item) > 5:
        l_new2.append('TOO LONG')
    else:
        l_new2.append(item)
print(l_new2)

<br>

**Úkol 3**: Z listu l vytvoř nový list l2, jehož elementy představují délku slov z listu l8. Pokud má slovo 3 nebo méně písmen, vynechej ho. Pokud je délka slova dělitelná dvěma, doplň místo něj číslici 2.

In [ ]:
#@title Řešení
l2 = []
for word in l:
    if len(word) <= 3:
        continue
    else:
        if len(word) % 2 == 0:
            l2.append(2)
        else:
            l2.append(len(word))
print(l2)

<br>

**Úkol 4**: Je dán list `l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]`. Zkontroluj všechna jeho čísla - pokud je číslo liché, přičti k němu jeho index v listu.

In [ ]:
#@title Řešení
l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]
l_new = []

for index, number in enumerate(l):
    if number % 2 == 1:
        l_new.append(number + index)
    else:
        l_new.append(number)
print(l_new)

<br>

**Úkol 5**: Vytvoř dictionary s klíči reprezentujícími dvě skupinky - lichá a sudá čísla. Čísla z listu l rozřaď do těchto skupinek

In [ ]:
#@title Řešení
l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]

dictionary = {'suda': [], 'licha': []}

for number in l:
    if number % 2 == 0:
        dictionary['suda'].append(number)
    else:
        dictionary['licha'].append(number)
print(dictionary)

<br>

##Logické operátory

<br>

**Úkol 6**: Spočítej, kolik čísel je v listu `l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]` dělitelných třemi (celkově, ne unikátních) a zároveň je větších než 15. Vypiš všechna tato čísla a nakonec zobraz jejich počet.

In [3]:
#@title Řešení
l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]
new_list = []

for number in l:
    if number % 3 == 0 and number > 15:
        new_list.append(number)
print(new_list)
print(len(new_list))

[78, 78, 51, 54, 87]
5

In [4]:
#@title Řešení
count_n = 0
for number in l:
    if number > 15 and number % 3 == 0:
        print(number)
        count_n += 1
print(f'There are {count_n} numbers matching the condition.')

78
78
51
54
87
There are 5 numbers matching the condition.

<br>

**Úkol 7**: Vytvoř nový list, který vychází z listu `l`. Pokud je číslo v listu `l` liché, a nebo větší než 50 a zároveň menší než 70, bude místo něj písmeno 'x'. Pokud nevyhovuje předchozím podmínkám, zůstane číslo tak, jak je tomu v listu `l`.

In [5]:
l = [2,6,13,34,6,78,9,5,78,34,22,20,19,51,54,34,23,76,87]

In [ ]:
#@title Řešení

l_new = []

for number in l:
    if number % 2 == 1 or (number > 50 and number < 70):
        l_new.append('x') 
    else:
        l_new.append(number)
print(l_new)

<br><br>

#<center>**Funkce**

##Vestavěné funkce pythonu

Python nabízí mnoho vestavěných pre-definovaných funkcí. Tyto funkce pokrývají širokou škálu běžných úkonů, které lze vykonávat na konkrétních datových typech a strukturách. Znalost těchto funkcí dokáže usnadnit práci a podstatně urychlit psaní kódu.

**Úkol 1**: je dán list čísel `l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]`. Vypiš absolutní hodnoty jednotlivých čísel.

In [14]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]

In [ ]:
#@title Řešení

for number in l:
    print(abs(number))

<br>

**Úkol 2**: Je některá hodnota v listu nulová ? Pro češení použij pythonovskou built-in funkci.

any(iterable)
Return True if any element of the iterable is true. If the iterable is empty, return False. Equivalent to:
<pre>
def any(iterable):
    for element in iterable:
        if element:
            return True
    return False

In [16]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]

True

all(iterable):
Return True if all elements of the iterable are true (or if the iterable is empty). Equivalent to:
<pre>
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True

In [ ]:
#@title Řešení

print('Zero value is not here: ',any(l))
print('All values are non-zero: ',all(l))

<br>

**Úkol 2**: Pokud jsou v listu nějaké nulové hodnoty, změň je na hodnotu 1. takto pozměněnou řadu čísel ulož jako nový list. Nakonec zkontroluj, zda jsou všechny hodnoty nenulové pomocí built-in funkce.

In [20]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]

In [ ]:
#@title Řešení

new_l = []

for num in l:
    if num == 0:
        new_l.append(1)
    else:
        new_l.append(num)
print(new_l)

all(new_l)

In [ ]:
#@title Řešení

new_l = [n if n != 0 else 1 for n in l]
print(all(new_l))

<br>

**Úkol 3**: Seřaď hodnoty v listu `l` sestupně.

In [23]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]

In [ ]:
#@title Řešení

print(sorted(l, reverse=True))

<br>

**Úkol 4**: Z listu `l` vyber pouze unikátní číslice - žádné dvě se nebudou opakovat. Výstupní struktura bude opět list, seřazený vzestupně.

In [26]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,-11,15,15]

In [27]:
#@title Řešení

print(sorted(set(l)))

[-11, -9, -8, -5, 1, 4, 6, 7, 10, 12, 15]

<br>

**Úkol 5**: Je dán string `'My name is Jeff'`. Nahraď mezery mezi slovy podtržítkem _. Nakonec zajisti, aby všechna písmena byla malá (lowercase).

In [28]:
string = 'My name is Jeff'

In [ ]:
#@title Řešení 1

novy_string = ''
for pismeno in string:
    if pismeno == ' ':
        novy_string += '_'
    else:
        novy_string += pismeno.lower()

print(novy_string)

In [ ]:
#@title Řešení 2

new_string = string.replace(' ', '_').lower()
print(new_string)

#@title Řešení 2

<br>

##Uživatelem definované funkce
V případě, že vestavěné funkce nepokrývají naše potřeby, není problém vytvořit si funkce vlastní.

<br>

**Úkol 6**: Vytvoř funkci, která umocní každé číslo v listu na druhou a nakonec sečte takto umocněné členy - výsledek bude jediné číslo. Funkci můžeš vyzkoušet na listu `l = [5,3,-2,-4,5,6]`.

In [ ]:
def my_func(list):
    new_list = []
    for num in list:
        new_list.append(num**2)
    return sum(new_list)

my_func([5,3,-2,-4,5,6])

<br>

**Úkol 7**: Napiš funkci pro nastavení budíku. Tato funkce má dva vstupní parametry. První parametr je `employed` (zda je člověk zaměstnaný) - True/False, druhý parametr je `vacation` (zda má dovolenou) - True/False. Výstup bude opět boolean - funkce vrátí True, pokud jste zaměstnaný a zárověň nejste na dovolené - tehdy se vyplatí mít nastavený budík.

In [ ]:
def alarm(employed, vacation):
    return employed and not vacation
    
print(alarm(employed=True, vacation=False))
print(alarm(employed=False, vacation=False))
print(alarm(employed=False, vacation=True))

In [ ]:
def alarm(employed: bool, vacation: bool) -> bool:
    """
    Function determines whether it is useful for the user to have their alarm set. 
    
    :param employed: True if user is employed
    :param vacation: True if user is on vacation
    :return: True if alarm should be set
    """
    
    return employed and not vacation

<br>

**Úkol 8**: Definuj funkci, která má jako vstup rok (např. 1980) a jejím výstupem je odpovídající století (20).

In [ ]:
def century(year: int) -> int:
    return year // 100 + 1

century(1980)

<br>

**Úkol 9**: Napiš funkci, která z daného textu vymaže všechny samohlásky.

In [ ]:
def vowels_out(string):
    for vowel in 'aeiouyAEIOUY':
        string = string.replace(vowel, '')
    return string
    
print(vowels_out('Hello World'))

<br>

**Úkol 10**: Definuj funkci, která k zadanému číslu přičte hodnotu 5. Použij syntax lambda funkce.

In [ ]:
plus_five = lambda x: x + 5

plus_five(5)

<br>

**Úkol 11**: Vytvoř lambda funkci, která sečte dvě libovolná čísla.

In [ ]:
add_two_nums = lambda x, y: x + y

add_two_nums(5, 5)

<br>

**Úkol 12 (pokročilý)**: Je dán list `l = [1,-5,-8,4,6,7,-8,-9,10,12,0,-11,15,15]`. Najdi způsob, jak každé číslo umocnit na druhou mocninu s pomocí lambda funkce. Výsledek bude nový list s druhými mocninami čísel z listu `l`.

In [ ]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,0,-11,15,15]

new_l = list(map(lambda x: x**2, l))
print(new_l)

<br>

**Úkol 13 (pokročilý)**: Pro stejný list jako v předešlém příkladu použij lambda funkci pro vytvoření nového listu, který bude obsahovat pouze kladná sudá čísla.

In [ ]:
l = [1,-5,-8,4,6,7,-8,-9,10,12,0,-11,15,15]

new_l = list(filter(lambda x: x > 0 and x % 2 == 0, l))
print(new_l)

<br>

**Úkol 14 (pokročilý)**: Je dán list tuplů `l = [(1,5), (4,3), (8,9), (10,5), (1,6)]`. Seřaď tuply do nového listu podle čísla na druhé pozici každého tuplu vzestupně.

In [ ]:
l = [(1,5), (4,3), (8,9), (10,5), (1,6)]

new_list = (sorted(l, key=lambda x: x[1]))

new_list

In [ ]:
l = [(1,5), (4,3), (8,9), (10,5), (1,6)]
func = lambda x: x[1]

new_list = (sorted(l, key=func))

new_list